@media (prefers-color-scheme: dark){
    .os-default {
        .wrapper{
            background-color: rgb(28, 28, 28);
            color:aliceblue;
        }
    }
}

.light {
    .wrapper{
        background-color: rgb(255, 255, 255);
        color:black;
    }
}

.dark {
    .wrapper{
        background-color: rgb(28, 28, 28);
        color:aliceblue;
    }
}