@media (prefers-color-scheme: dark){
    .dark{
        .wrapper{
            background-color: rgb(28, 28, 28);
            color:aliceblue;
        }
        .main-head {
            background-color: rgb(196, 37, 37);
            border: 5px dashed #7a1cd2;
        }
        .content {
            background-color: rgb(170, 116, 15);
            border: 5px dashed #838383;
        }
        .main-nav {
            background-color: rgb(165, 165, 4);
            border: 5px dashed #09e3e6;
        }
        .side {
            background-color: rgb(28, 185, 28);
            border: 5px dashed #60c3b4 ;
        }
        .ad {
            background-color: #aea99c;
            border: 5px dashed rgb(8, 8, 177);
        }
        .main-footer {
            background-color: #9c8951;
            border: 5px dashed #774a9e;
        }
    }
}